.list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin: 2em 20%;
  font-weight: 500;

  .listItem {
    height: 380px;
    width: 200px;
    position: relative;

    .price {
      font-size: 14px;
      color: var(--gray-text);
    }

    .onlinePrice {
      font-size: 16px;
      color: red;
    }

    .name {
      padding: 8px 16px;
      font-weight: 600;
      font-size: 0.9em;
    }

    .buy {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #fff000;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 0;

      svg {
        margin-right: 8px;
      }
    }
  }

  .buy:hover {
    color: #fff000;
    background-color: black;
  }
}

@media (max-width: 1124px) {
  .list {
    margin: 2em 5%;
  }
}
