.navlink {
  margin: 0 8px;
  font-weight: 700;
}

.navlink:hover {
  color: var(--hover-link-color);
}

.navlink:active {
  color: var(--active-link-color);
}

.active {
  color: var(--active-link-color);
}
